html, body, div, ul, ol, li {
    padding: 0;
    margin: 0;
}

a, a:active, a:link, a:visited {
    outline: none;
    color: #000;
}

a.tiny {
    font-size: 0.7em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

pre {
    padding: 5px;
    background: #d5d5d5;
}

body {
    font: 100% Geneva, Arial, sans-serif;
    background: #fff;
    color: #222;
}

#container {
    width: 800px;
    margin: 0 auto;
}

#header {
    margin-top: 20px;
    height: 100px;
    text-align: center;
}

#header a.sitelink {
    font-size: 2.8em;
    text-decoration: none;
    color: #222;
}

#header .moto {
    color: #8a8a8a;
    margin-top: 5px;
}

#content {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding: 5px 0 20px 0;
    margin-bottom: 10px;
}

.post {
    margin-top: 10px;
}

.index.post {
    margin-bottom: 30px;
}

.post .title {
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
}

.post .title a {
  text-decoration: none;
  color: #222;
}

.post .author {
    font-size: 0.9em;
    text-align: center;
}

.post .timestamp {
    font-size: 0.9em;
    color: #aaa;
    text-align: center;
}

.post .body {
    line-height: 120%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post img {
    padding: 3px;
}

.post .viewas {
    font-size: 0.7em;
}

.post .meta {
    text-align: right;
    font-size: 0.8em;
}

.post a.read_more {
    font-size: 0.8em;
}

.postform textarea {
    margin-top: 5px;
    width: 800px;
    font-family: Geneva, Arial, sans-serif;
}

.postform input {
    margin-bottom: 5px;
}

.postform {
    margin-top: 10px;
}

.postform .submit {
    margin-top: 5px;
}

.comments {
  margin-top: 30px;
}

ol, ul {
    margin-left: 50px;
    font-size: 0.9em;
    color: #2e2e2e;
}

form#login {
    padding: 15px 0 0 0;
}

form#login input {
    margin: 5px 0;
}

#footer {
    text-align: center;
    font-size: 0.9em;
    color: #3b3b3b;
    margin-bottom: 20px;
    line-height: 135%;
}
