!!!
%html
  %head
    %title Subtle Entropy #{': ' + @post.title if @post}
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="keywords" content="Lee Jarvis, blog, ruby, programming, web design" />
    <meta name="author" content="Lee Jarvis" />
    <meta name="description" content="A blog which is likely to make you feel dirty after visiting" />

    %link{:type => 'application/atom+xml', :rel => 'alternate', :title => 'Subtle Entropy', :href => 'http://blog.injekt.net/feed'}
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    %link{:rel => 'home index', :href => 'http://blog.injekt.net', :type => 'text/html'}
    %link{:rel => 'stylesheet', :href => '/base.css', :type => 'text/css'}
  %body
    #container
      #header 
        %a{:class => 'sitelink', :href => '/'} Subtle Entropy
        .moto The mindless ramblings of Lee Jarvis
      #content
        =yield

    #footer
      Copyright 2010 by <a href="http://injekt.net">Lee Jarvis</a><br />
      <a class="tiny" href="http://github.com/injekt/blog">source</a>

      - if logged_in?
        %br
        Logged in as #{session[:user]}. <a href="/logout">logout</a>
