%form{:method => 'post', :action => "/new", :class => 'postform'}
  Title: 
  %input{:name => 'title', :type => 'text', :size => '30'}
  %br
  %textarea{:name => 'body', :rows => '30'}
  %br
  %input{:class =>'submit', :type => 'submit'}
